<!--
<div class="parent">
    <div class="child">
        <mat-selection-list #taskList [multiple]="false" class="custom-color">
            <mat-list-option *ngFor="let task of tasks" [value]="task">
                {{task.title}}
            </mat-list-option>
        </mat-selection-list>

        
    </div>

    <div class="child">
        
        <input placeholder="Title" #taskTitle>
        <br><br>
        <input placeholder="description" #taskDescription>
        <br><br>
        <button (click)="addTask(taskTitle.value, taskDescription.value)">
            Add Task
        </button>
        
    </div>

    <p>
        Option selected: {{taskList.selectedOptions.selected[0]?.value.title}}
    </p>

</div>
!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 p-3">
            <mat-selection-list #taskList [multiple]="false" class="custom-color" style="margin-left: 15rem;">
                <mat-list-option *ngFor="let task of tasks" [value]="task">
                    {{task.title}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-sm-4 p-3">
            <div *ngIf="taskList.selectedOptions.selected[0]" style="text-align: center;">
                <h3>Task Title:</h3>
                {{taskList.selectedOptions.selected[0]?.value.title}}
                <h3>Task Description:</h3>
                {{taskList.selectedOptions.selected[0]?.value.description}}
            </div>
        </div>
        <div class="col-sm-4 p-3">
            <input placeholder="Title" #taskTitle>
            <br><br>
            <input placeholder="description" #taskDescription>
            <br><br>
            <button (click)="addTask(taskTitle.value, taskDescription.value)">
                Add Task
            </button>
            
        </div>
    </div>

</div>