
mat-list-option[aria-selected="true"] {
    background: lightgray;
  }

.parent{
    margin: 1rem;
    text-align: center;
}

.child{
    border: 1px solid black;
    display: inline-block;
    padding:1rem 1rem;
    vertical-align: middle;
    margin-right: 10rem;
    height:max-content;
    
}

.taskListItem{
font-size: x-large;
text-decoration-line: underline;

}

.whiteClass{
    text-decoration-color: white;
}