.card{
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5 px;
    border-radius: 5px;
    width: 80%;
    outline: black 1px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container{
    margin: 5px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
}
.input{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    margin:5px 0.3em 0.3em 5px;
    border-radius:2em;
    text-decoration:none;
    color:black;
    background-color:white;
    text-align:center;
    transition: all 0.2s;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

.member_list_items{
margin: 3%;
border: 1px black;
}

.member_list{
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5 px;
    border-radius: 5px;
    width: 25%;
    outline: black 1px;
}

.member_list:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
