<body style="background-image: url('https://i.pinimg.com/originals/4e/53/25/4e5325a35fcc45db739811a2aa50e75d.jpg');">
    

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="button">
                        <button class="button">
                            <a class="nav-link" routerLink="/dashboard">Go Back</a>
                        </button>
                    </div>
                    <div class="box-card">
                        <div class="col">
                            <h2>Create New User Story</h2>  
                        </div>
                        <form (submit)="addStory()">
                            <div class="mb-2">
                                <textarea class="form-control" 
                                required="true" 
                                [(ngModel)]="userStory.description"
                                name="description" 
                                id="description" 
                                cols="10" rows="5"
                                #description='ngModel'></textarea>
                            </div>
                            <div class="mb-2">
                                <input type="submit"  class="button" style="float: right;" value="Add Story">
                            </div>
                        </form>
                    </div>
                    <!-- <app-user-story></app-user-story> -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
