.card {
    width: 620px;
    border: 1px solid yellow;
    background-color: rgb(21,51,64, .8);
    
    padding: 2px 2px 10px;
    overflow: auto;
    margin: 40px 355px 455px;
    }
.box-card {
      width: 500px;
      height: 230px;
      border: 1px solid green;
      background-color: rgba(250, 156, 105);
      padding: 2px 22px 10px;
      margin: 0px 40px 20px;
    }
    
h2 {
    text-indent: 10px;
    }
    
.button {
    border-radius: 10px;
     text-align: right;
     padding: 3px 12px;
    }
body {
    overflow-x: auto;
}